RewriteEngine On
RewriteBase /agendamento-sigf/

# Se o pedido NÃO for um arquivo ou diretório existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Redireciona tudo para dentro da pasta public/index.php
RewriteRule ^(.*)$ public/index.php [QSA,L]
AddDefaultCharset UTF-8
